[Unit]
Description=DJI Osmo Pocket 3 H264 4K 50fps Stream to HDMI with Audio
After=network.target sound.target

[Service]
Type=simple
User=root
ExecStart=/usr/bin/gst-launch-1.0 libuvch264src index=0 ! video/x-h264,width=3840,height=2160,framerate=50/1 ! h264parse ! mppvideodec ! kmssink plane-id=73 connector-id=217 sync=false alsasrc device=hw:4,0 ! audioconvert ! audioresample ! alsasink device=hw:1,0
Restart=always
RestartSec=5
Nice=-10
IOSchedulingClass=realtime

[Install]
WantedBy=multi-user.target
